USE [master]
GO
/****** Object:  Database [SoccerLineDB]    Script Date: 10/11/2023 4:03:06 p. m. ******/
CREATE DATABASE [SoccerLineDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoccerLineDB', FILENAME = N'D:\rdsdbdata\DATA\SoccerLineDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoccerLineDB_log', FILENAME = N'D:\rdsdbdata\DATA\SoccerLineDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoccerLineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoccerLineDB]
GO
/****** Object:  User [admin]    Script Date: 10/11/2023 4:03:08 p. m. ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[CalendarioPartidos]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarioPartidos](
	[CalendarioID] [int] NOT NULL,
	[FechaPartido] [datetime] NOT NULL,
	[PartidoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CalendarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[EquipoID] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Ubicacion] [varchar](255) NOT NULL,
	[Colores] [varchar](255) NULL,
	[TecnicoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadisticasJugadores]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadisticasJugadores](
	[EstadisticasID] [int] NOT NULL,
	[JugadorID] [int] NOT NULL,
	[PartidoID] [int] NOT NULL,
	[Puntos] [int] NOT NULL,
	[Rebotes] [int] NOT NULL,
	[Asistencias] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadisticasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[JugadorID] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Apellido] [varchar](255) NOT NULL,
	[Edad] [int] NOT NULL,
	[Posicion] [varchar](255) NOT NULL,
	[EquipoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JugadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[PartidoID] [int] NOT NULL,
	[Lugar] [varchar](255) NOT NULL,
	[CapacidadLugar] [int] NULL,
	[EquipoLocal] [varchar](50) NULL,
	[EquipoVisitante] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PartidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resultados]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultados](
	[ResultadoID] [int] IDENTITY(1,1) NOT NULL,
	[MarcadorLocal] [int] NOT NULL,
	[MarcadorVisitante] [int] NOT NULL,
	[EventoDestacado] [varchar](1000) NOT NULL,
	[PartidoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tecnico]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnico](
	[TecnicoID] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Apellido] [varchar](255) NOT NULL,
	[Expediente] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TecnicoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/11/2023 4:03:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[EntrenadorID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Contraseña] [varchar](15) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [varchar](10) NULL,
	[Tipo_usuario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EntrenadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CalendarioPartidos]  WITH CHECK ADD FOREIGN KEY([PartidoID])
REFERENCES [dbo].[Partidos] ([PartidoID])
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD FOREIGN KEY([TecnicoID])
REFERENCES [dbo].[Tecnico] ([TecnicoID])
GO
ALTER TABLE [dbo].[EstadisticasJugadores]  WITH CHECK ADD FOREIGN KEY([JugadorID])
REFERENCES [dbo].[Jugadores] ([JugadorID])
GO
ALTER TABLE [dbo].[EstadisticasJugadores]  WITH CHECK ADD FOREIGN KEY([PartidoID])
REFERENCES [dbo].[Partidos] ([PartidoID])
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD FOREIGN KEY([EquipoID])
REFERENCES [dbo].[Equipos] ([EquipoID])
GO
ALTER TABLE [dbo].[Resultados]  WITH CHECK ADD FOREIGN KEY([PartidoID])
REFERENCES [dbo].[Partidos] ([PartidoID])
GO
USE [master]
GO
